<%= simple_form_for storefront, data: { controller: 'nested-form', nested_form_index_value: 'NEW_RECORD' } do |form| %>
  <fieldset class="m-5 flex bg-white border border-gray-200 rounded-xl shadow">
    <div class="w-2/5 m-4">
      <legend class="font-bold text-xl">Return Reasons</legend>
      Add or edit return reasons you would like to show the customers during the return request process.
    </div>

    <div class="w-3/5 m-4">
      <%= render partial: 'layouts/shared/error_messages', locals: { object: storefront } %>

      <div>
        <template hidden data-nested-form-target="template">
          <%= form.simple_fields_for :reasons, Reason.new, child_index: 'NEW_RECORD' do |reason_fields| %>
            <%= render 'reason_form', f: reason_fields %>
          <% end %>
        </template>

        <div class="bg-gray-50 rounded-xl border border-gray-200">
          <button type="button" data-action="nested-form#addAssociation" class="w-full p-3 flex text-blue-600">
            <i class="fa-solid fa-circle-plus text-lg"></i>
            <span class="ml-6 font-semibold">Add Return Reason</span>
          </button>

          <div>
            <%= render partial: 'reason', collection: @reasons %>
          </div>
        </div>
      </div>

    </div>
  </fieldset>

  <div class="p-5 absolute bottom-0 w-[81%] flex items-center bg-white border-t border-gray-200">
    <div class="grow">
      Remember to save your changes before leaving this page
    </div>
    <%= form.submit 'Save', class: 'btn rounded-md bg-amber-400' %>
  </div>
<% end %>
