<%= simple_form_for storefront, data: { nested_form_index_value: 'NEW_RECORD' } do |form| %>
  <fieldset class="m-5 flex bg-white border border-gray-200 rounded-xl shadow">
    <div class="w-2/5 m-4">
      <legend class="font-bold text-xl">Return Reasons</legend>
      Add or edit return reasons you would like to show the customers during the return request process.
    </div>

    <div class="w-3/5 m-4">
      <%= render partial: 'layouts/shared/error_messages', locals: { object: storefront } %>

      <div data-controller="modal">
        <div class="relative z-10" hidden data-modal-target="modal">
          <div class="fixed inset-0 bg-neutral-900 bg-opacity-90 transition-opacity" data-action="click->modal#hide"></div>

          <div class="fixed top-2/4 left-2/4 translate-x-[-50%] translate-y-[-50%]">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
              <div class="p-4 relative transform overflow-hidden rounded-xl bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
                   data-modal-target="modalContent" >
                <%= turbo_frame_tag 'storefront_reasons' %>
              </div>
            </div>
          </div>
        </div>

        <%# Reason list %>
        <div class="bg-gray-50 rounded-xl border border-gray-200">
          <%= link_to add_form_reason_storefront_reasons_path(storefront), class: 'w-full p-3 flex text-blue-600',
                                                                      data: { turbo_frame: 'storefront_reasons',
                                                                      turbo_stream: "true",
                                                                      modal_id: 'new_reason'  }  do %>
            <i class="fa-solid fa-circle-plus text-lg"></i>
            <span class="ml-6 font-semibold">Add Return Reason</span>
          <% end %>

          <div data-controller="draggable">
            <%= render partial: 'reasons/reason', collection: storefront.reasons, locals: { storefront: storefront } %>
          </div>
        </div>
      </div>

    </div>
  </fieldset>

  <div class="p-5 absolute bottom-0 w-[81%] flex items-center bg-white border-t border-gray-200">
    <div class="grow">
      Remember to save your changes before leaving this page
    </div>
    <%= form.submit 'Save', class: 'btn-primary' %>
  </div>
<% end %>
