

<% form.simple_fields_for :reasons, reason, child_index: (reason.id || Time.now.to_i) do |f| %>
  <div hidden class="nested-form-wrapper" id="<%= dom_id(reason)%>" data-modal-target="nestedForm" data-controller="nested-form" >
    <div class="pb-4 border-b border-gray-200 flex justify-between">
      <legend class="font-bold text-xl"><%= reason.persisted? ? 'Edit' : 'New' %> Return Reason</legend>
      <button class="" data-action="click->modal#hide">
        <i class="fa-solid fa-xmark text-lg"></i>
      </button>
    </div>
    <div class="dashboard-form-fields">
      <%=
        f.input :label,
          label: 'Displayed reason',
          required: true,
          placeholder: 'Enter Displayed reason...',
          hint: "Provide a friendly description for the reason that will be displayed to the customer.",
          wrapper_html: { class: "my-4" },
          hint_html: { class: "text-xs" } #added this to trigger the tails wind to compile this classes
      %>
      <%=
        f.input :code,
          label: 'Internal return code',
          required: true,
          placeholder: 'Enter Internal return code...',
          hint: "For internal use only. Must be unique. To aid in analytics, we do not recommend changing the code once set."
      %>

      <div class="flex mb-3">
        <div class="js-eye-checkbox" data-action="click->nested-form#checkStateIconEyeClick">
          <%= icon('fa-regular', 'eye', class: "pt-1 pb-4 px-2 text-lg text-blue-600", style: "display: #{reason.active? ? 'inline' : 'none'}")%>
          <%= icon('fa-regular', 'eye-slash', class: "pt-1 pb-4 px-2 text-lg text-gray-600", style: "display: #{reason.active? ? 'none' : 'inline'}")%>
          <%= f.input :active, :label => false, as: :boolean, input_html: { class: 'hidden' } %>
        </div>
        <div class="grow">
          <strong>Return Reason is visible</strong>
          <p class="text-xs">
            When hidden, this return reason is not offered as an option to the customers. Click on the eye icon to make the return reason visible.
          </p>
        </div>
      </div>


      <%= f.hidden_field :ordering, class: 'ordering-number' %>
      <%= f.hidden_field :id, class: 'id' %>
      <%= f.hidden_field :_destroy %>

      <div class="flex justify-between">
        <button type="button" class="btn-danger" data-action="nested-form#removeAssociation">Remove</button>
        <button class="btn-primary" data-action="click->modal#hide">Continue</button>
      </div>
    </div>
  </div>
<% end %>
